# Java
backend/target/
backend/*.jar
backend/.mvn/wrapper/maven-wrapper.jar
backend/.metadata
backend/bin/
backend/tmp/
backend/*.class

# Node
node_modules/
pdf_gen/node_modules/
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# IDE
.vscode/
.idea/
*.swp
*.DS_Store

# Env / Secrets
.env
.env.*
!.env.example

# Local H2 database files
backend/data/
backend/data_backup_error_db/
*.trace.db
*.lock.db

# Junk files
*.tmp
*.log
*.dat
*.cpuprofile
*.gradle
*.node
.ses
*.argfile
*OProcSessId.dat
